<h1>New validate_me</h1>

<%= error_messages_for :validate_me %>

<% form_for(@validate_me) do |f| %>
  <p>
    Int: <%= f.text_field :number_int, :size => 10 %>
  </p>
  <p>
    Float: <%= f.text_field :number_float, :size => 10 %>
  </p>
  <p>
    Email: <%= f.text_field :email, :size => 25 %>
  </p>
  <br>
  <p>
    Validations: <%= @validate_me.class.validations.to_a.join ", " %><br>
  <script language="javascript">
  	createAllValidations(<%= @validate_me.class.validations.to_json %>, '<%= f.object_name%>');
  </script>
  </p>
  
  <p>Methods: 
  	<%= f.methods.sort.join ", " %>
  	
  </p>
  <p>
  	Method-Test: <%= f.object_name%>
  </p>
  <br>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', validate_mes_path %>
